# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - python compiled files
*.pyc

# Gauge - secrets
secrets.properties
# ignore the singular too, just in case someone uses it as the file name
secret.properties


# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode

